<template name="rules">
	{{>nav}} 
		{{#if currentUser}}
	{{>editItem}}
	<div class="box items-box" id="{{structureId}}">
		{{>addRule}}
		<br>
		<br>
		<ul>
			{{#each structures.rules}} {{> rule}} {{/each}}
		</ul>
	</div>
	{{/if}}
</template>

<template name="editItem">
	<div class="box add-box row">
		<form>
			<input class="basic-style input-field add-structure-field" type="text" name="itemName" value="{{name}}" required="">
			<button type="submit" class="button basic-style add-button"><i class="fa fa-pencil-square-o"> Edit</i></button>
		</form>
	</div>
</template>

<template name="addRule">
	<form class="add-rule ">
		<legend>Rules</legend>
		<div class="form-group">
			<div class="col-md-3">
				<select name="selectedRule" class="form-control">
					{{#each structures}}
					<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3">
				<select name="relationType" class="form-control">
					<option value="own">Own</option>
					<option value="link">Link</option>
					<option value="both">Both</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3">
				<button type="submit" class="btn button basic-style update-button"><i class="fa fa-plus"> Add Rule</i></button>
			</div>
		</div>
	</form>
</template>

<template name="rule">
	<li>
		<div class="box item-box">
			<span class="item basic-style item-name">{{ruleName ruleId}} - {{relationType}}</span>
			<button class="btn item basic-style button delete-button"><i class="fa fa-trash-o"> Delete</i></button>
		</div>
	</li>
</template>