<template name="forms">
	{{>nav}} {{#if currentUser}}

	<div class="box add-box">

		<h1>Forms</h1>
		<div class="text-right">
			<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuForm" data-toggle="dropdown">
				New Form
			</button>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th></th>
						<th>Options</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each form}}
					<tr>
						<td>{{name}}</td>
						<td>{{type}}</td>						
						<td><a href="/preview/{{_id}}" class="btn btn-primary"> Preview </a></td>
						<td><a href="/forms/{{_id}}" class="btn btn-primary"> Edit </a></td>
						<td><a class="btn btn-danger delete-form">Delete</a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/if}}


</template>