<template name="formBuilder">
  {{> nav}}

  <div class="modal fade" id="insert_float_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>

              <div class='required form-group'>
                <label class="control-label col-sm-2">Title</label>
                <div class='col-md-8'>
                  <input class='form-control input-md' type="text" id="inputTitle" required autofocus/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="type">Type</label>
                <div class="col-md-4">
                  <select id="inputType" name="" class="form-control">
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="date">Date</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="stateStatus">State</label>
                <div class="col-md-4">
                  <select id="inputState" class="form-control">
                    <option value="public">Public</option>
                    <option value="private">Private</option>

                  </select>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary">Save</button>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="box add-box">

    <form class="form-horizontal main-form">
      <fieldset>
        <center>
          <legend>Form
          </legend>
          <!--new field-->
          <div class="text-right">
            <a href="#insert_float_modal" class="btn btn-success btn-sm" data-toggle="modal">New Field</a>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="form_name"></label>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon">Form Name</span>
                <input id="form_name" class="form-control" value="" type="text" required="" autofocus="">

              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="form-type">Type</label>
            <div class="col-md-4">
              <select id="form-type" class="form-control">
                {{#each structures}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>


        </center>
        <div>
          <div class="table-responsive">

            <table id="formTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Type</th>
                  <th>State</th>
                  <th></th>
                  <th></th>
                  <th>Delete</th>
                </tr>
              </thead>

              <tbody class="body">
                <!-- adding elements here -->

              </tbody>
            </table>
          </div>
        </div>
        <center>
          <div class="control-group">
            <div class="controls">
              <a href="/config" class="btn btn-default">Back</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </center>
      </fieldset>
    </form>
  </div>

</template>